@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playfair+Display:wght@500;600&display=swap');

*{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}

.containter{
    max-width: 1100px;
    margin: 0 auto;
}
.primaryFont{
    font-family: 'Playfair Display', serif;
}
.secondaryFont{
    font-family: 'Lato', sans-serif;
}